<div class="background-image">
  <mat-card class="example-card" style="z-index: 1000;">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signUpForm" (ngSubmit)="registerUser(signUpForm?.value)">

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Please enter your Username" formControlName="userName" autofocus required
            (change)="checkUsernameAvail($event)">
          <mat-error *ngIf="this.getUsername()?.invalid">{{getErrorMessageForUserName()}}</mat-error>
          <!-- <mat-error *ngIf="this.isUsernameInvalid">Username already taken</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@domain.com" formControlName="email" required>
          <mat-error *ngIf="this.getEmail()?.invalid">{{getErrorMessageForEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Please enter your Password" formControlName="password" required
            [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide ">{{hide ? 'visibility_off' : 'remove_red_eye'}}</mat-icon>
          <mat-error *ngIf="this.getPassword()?.invalid">{{getErrorMessageForPassword()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Please enter Password again" formControlName="confirmPassword" required>
          <mat-error *ngIf="this.getConfirmPassword()?.invalid">{{getErrorMessageForConfirmPassword()}}</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" matRipple [matRippleCentered] ="true"  [matRippleRadius] = "10"[disabled]="signUpForm.invalid">Register</button>
      </form>
      <div>
        <small>Already have an account? SignIn <a routerLink="/">Here</a></small>
      </div>
    </mat-card-content>
  </mat-card>
</div>