<mat-toolbar>
    <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/keep-logo.png" alt="Keep-logo">
    <span>Keep</span>
    <span class="search">
        <form action="#">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <input type="text" name="search-bar" id="search-bar" placeholder="Search">
        </form>
    </span>
    <span>
        <button mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button>
            <img src="../../../assets/window_black_24dp.svg" alt="grid-view">
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
    </span>

    <!-- This is the 6th child in SCSS. If changed please change accordingly -->
    <span>
        <button mat-icon-button>
            <mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button>
            <span>M</span>
        </button>
    </span>
</mat-toolbar>
<mat-divider></mat-divider>

<div class="main-page">

    <section class="side-container">
        <div>
            <span class="side-heading">Notes</span>
            <span>
                <mat-icon>lightbulb_outline</mat-icon>
            </span>
        </div>
        <div>
            <span class="side-heading">Reminders</span>
            <span>
                <mat-icon>notifications_none</mat-icon>
            </span>
        </div>
        <div>
            <span class="side-heading">Edit Labels</span>
            <span>
                <mat-icon class="material-icons material-icons-outlined">edit_none</mat-icon>
            </span>
        </div>
        <div>
            <span class="side-heading">Archive</span>
            <span>
                <mat-icon class="material-icons material-icons-outlined">archive_outline</mat-icon>
            </span>
        </div>
        <div>
            <span class="side-heading">Delete</span>
            <span>
                <mat-icon>delete_outline</mat-icon>
            </span>
        </div>
    </section>

    <div class="notes">
        <section>
            <div class="create-note">
                <div>
                    <input type="text" placeholder="Title">
                    <mat-icon class="material-icons-outlined">push_pin</mat-icon>
                </div>
                <input type="text" placeholder="Take a note...">
            </div>
        </section>
    </div>
</div>