@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "../../../Custom-Styles/_mixins.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
$font-family: "Roboto", sans-serif;
mat-toolbar {
  background-color: white;
  button + img {
    width: 2.5rem;
    height: 2.5rem;
    padding-left: 0.5rem;

    + span {
      font-size: larger;
      font-weight: 400;
      color: #5f6368;
      padding-left: 0.5rem;
    }
  }

  .search {
    margin-inline: 6rem;
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    input {
      @include input-style();
    }

    input:focus {
      outline-color: white;
    }

    button {
      padding-left: 1rem;
      height: 3.1rem;
      border-radius: 0.4rem;
      border-style: none;
      background-color: aliceblue;
      padding-right: 2rem;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  :nth-child(5) {
    margin-right: 2rem;
  }

  :nth-child(6) {
    button + button {
      background-color: #ffbc00;
      font-size: large;
      color: white;
      margin-left: 0.5rem;
    }
  }
}

.main-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  font-family: $font-family;

  .side-container {
    flex: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transform: translateX(-80%);
    transition-duration: 0.2s;
    cursor: pointer;
    div:first-child {
      margin-top: 1rem;
    }
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      max-width: 20rem;
    }

    .side-heading {
      margin-left: 2rem;
      font-size: small;
    }

    span + span {
      background-color: #feefc3;
      height: 3rem;
      width: 3rem;
      border-radius: 1.5rem;
      text-align: center;
      mat-icon {
        text-align: center;
        padding-top: 0.6rem;
      }
    }
  }

  .side-container:hover {
    transform: translateX(0%);
    transition-duration: 0.2s;
    max-width: 20rem;
    z-index: 10;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    div {
      background-color: #feefc3;
      justify-content: end;
      span + span {
        order: 1;
      }
      .side-heading {
        order: 2;
        font-weight: 500;
      }
    }
  }

  .notes {
    flex: 80%;

    section {
      margin-top: 1rem;
      font-family: $font-family;
      input:focus {
        outline: none;
      }

      .create-note {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 2px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 8px 0px;
        max-width: 35rem; // If changes please change below max-width also
        margin: auto;
        border-radius: 0.6rem;

        div:first-child {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-right: 1rem;
          padding-top: 0.5rem;
          display: none;
          input {
            @include input-style(2rem, 35rem);
            background-color: #ffffff;
            font-weight: 600;
          }
        }
        input {
          @include input-style(2rem, 35rem);
          background-color: #ffffff;
          box-sizing: border-box;
          padding-right: 0;
          max-width: 35rem; // If changes please change above max-width also
          margin-top: 0.5rem;
          font-size: 14px;
          margin-bottom: 0.5rem;
          border-bottom-left-radius: 0.4rem;
        }

        .create-note-actions {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          margin-top: 1rem;
          padding-bottom: 0.5rem;
          display: none;
          span {
            flex: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            mat-icon {
              font-size: 1rem;
              text-align: center;
            }
          }
          span + span {
            flex: 20%;
          }
          span + span + span {
            flex: 20%;
            align-self: flex-start;
            button {
              cursor: pointer;
              padding: 0;
              margin: 0;
              outline: none;
              background-color: #ffffff;
              border: none;
              font-size: 0.8rem;
              font-weight: 600;
              padding-right: 1rem;
              font-family: $font-family;
            }
          }
        }
      }
    }
  }
}
